<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Time-lapse Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Raspberry Pi Time-lapse Camera</h1>
        <div class="form-group">
            <label for="frequency">Capture Frequency (seconds):</label>
            <input type="number" id="frequency" name="frequency" value="{{ capture_frequency }}" min="1">
        </div>
        <div class="form-group">
            <label for="duration">Time-lapse Duration (seconds):</label>
            <input type="number" id="duration" name="duration" value="{{ timelapse_duration }}" min="1">
        </div>
        <div class="button-group">
            <button id="startBtn">Start Capture</button>
            <button id="stopBtn">Stop Capture</button>
        </div>
        <div id="status">
            <p>Status: <span id="captureStatus">{% if is_capturing %}Capturing{% else %}Idle{% endif %}</span></p>
            <p>Captured Images: <span id="captureCount">{{ capture_count }}</span></p>
            <p>Last Capture Time: <span id="lastCaptureTime">{{ last_capture_time }}</span></p>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            function updateStatus() {
                $.get('/status', function(data) {
                    $('#captureStatus').text(data.is_capturing ? 'Capturing' : 'Idle');
                    $('#captureCount').text(data.capture_count);
                    $('#lastCaptureTime').text(data.last_capture_time || 'N/A');
                });
            }

            $('#startBtn').click(function() {
                $.post('/start', {
                    frequency: $('#frequency').val(),
                    duration: $('#duration').val()
                }, function(data) {
                    alert(data.message);
                    updateStatus();
                });
            });

            $('#stopBtn').click(function() {
                $.post('/stop', function(data) {
                    alert(data.message);
                    updateStatus();
                });
            });

            setInterval(updateStatus, 5000); // Update status every 5 seconds
        });
    </script>
</body>
</html>